.wrapper {
    margin: 120px;
}



.form-control {
    display: block;
    width: 160px;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 4px;
}

.btn-block {
    display: block;
    width: 160px;
    height: 47px;
    border: 2px solid;
    border-color: blue;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    font-weight: bold;
}

.btn-primary {
    background-color: deepskyblue;
}