h1 {
    color: black;
}

/*Kui vaja, paneme tagasi.

div{
    border:2px solid black;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}*/
img{
    max-height:250px;
    max-width:952px;
}
#logo{
    display: block;
    margin: 0 auto;
}
#link{
    display: block;
    margin: 0 auto;
    max-height:100px;
    max-width:100px;
}

.navbar div {
    border:none;
}

#services div{
    height: inherit;
}

.navbar a{
    color: black;
}
#navs{
    float: right;
}
#services img{
    max-height:100px;
    max-width:100px;
}
#services{
    background-color: black;
    text-align: center;
}
#services h1,#services h3 {
    color: white;
}
#services{
    color: red;
}
#main-nav{
    background-color: silver;
}