<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="admin_panel.css">
</head>
<body>
<form action="adminpanel.html" method="post">
<h1>Name of the website</h1>
<div id="solutions">
    <input type="text" placeholder="SolutionIT" name="website_name">
</div>
<div>

    <h2>Website banner</h2>
    <img src="default-placeholder.png" height="300px" width="400px">
    <label class="upload">
        <input type="file" name="pilt" accept="image/">
        Select image
    </label>
</div>

<h3>Our Company</h3>
        <textarea>
        </textarea>

<h3>Services</h3>
<div class="services">
    <div class="serv">
        <p>Name</p>
        <input type="text" placeholder="Name">
        <p>Title</p>
        <input type="text" placeholder="Web development">
        <p>Image</p>
        <img src="default-placeholder.png" height="200px" width="200px">
        <label class="upload">
            <input type="file" name="pilt" accept="image/">
            Select
        </label>
        <br>
        <input type="text" placeholder="Image ALT text">
    </div>
    <div class="serv">
        <p>Name</p>
        <input type="text" placeholder="Name">
        <p>Title</p>
        <input type="text" placeholder="Web development">
        <p>Image</p>
        <img src="default-placeholder.png" height="200px" width="200px">
        <label class="upload">
            <input type="file" name="pilt" accept="image/">
            Select
        </label>
        <br>
        <input type="text" placeholder="Image ALT text">
    </div>
    <div class="serv">
        <p>Name</p>
        <input type="text" placeholder="Name">
        <p>Title</p>
        <input type="text" placeholder="Web development">
        <p>Image</p>
        <img src="default-placeholder.png" height="200px" width="200px">
        <label class="upload">
            <input type="file" name="pilt" accept="image/">
            Select
        </label>
        <br>
        <input type="text" placeholder="Image ALT text">
    </div>
</div>

<h3>Portfolio</h3>
<div id="portfolio">
    <p>Name</p>
    <img src="default-placeholder.png" height="150px" width="600px">
    <label class="upload">
        <input type="file" name="pilt" accept="image/">
        Select
    </label>
    <br>
    <input type="text" placeholder="Link URL">
    <p>Name</p>
    <img src="default-placeholder.png" height="150px" width="600px">
    <label class="upload">
        <input type="file" name="pilt" accept="image/">
        Select
    </label>
    <br>
    <input type="text" placeholder="Link URL">
    <p>Name</p>
    <img src="default-placeholder.png" height="150px" width="600px">
    <label class="upload">
        <input type="file" name="pilt" accept="image/">
        Select
    </label>
    <br>
    <input type="text" placeholder="Link URL">
</div>

<h3>Reviews</h3>
    <div class="reviews">
        <textarea>Thank you for your services!</textarea>
        <a href="#">Delete</a>
    </div>
    <div class="reviews">
        <textarea>Great work!</textarea>
        <a href="#">Delete</a>
    </div>
<h3>Our Team</h3>
<div class="team">
    <div class="team_1">
        <input type="text" placeholder="Rajur Hint">
        <p>Image</p>
        <img src="default-placeholder.png" height="200px" width="200px">
        <label class="upload">
            <input type="file" name="pilt" accept="image/">
            Select
        </label>
    </div>
    <div class="team_1">
        <input type="text" placeholder="Martin Kooga">
        <p>Image</p>
        <img src="default-placeholder.png" height="200px" width="200px">
        <label class="upload">
            <input type="file" name="pilt" accept="image/">
            Select
        </label>
    </div>
        <div class="team_1">
            <input type="text" placeholder="Hardi Kaiv">
            <p>Image</p>
            <img src="default-placeholder.png" height="200px" width="200px">
            <label class="upload">
                <input type="file" name="pilt" accept="image/">
                Select
            </label>
        </div>
</div>

<h3>Social links</h3>
<div>
    <p>FB</p>
    <input type="text" placeholder="Link URL">
    <p>Twitter</p>
    <input type="text" placeholder="Link URL">
    <p>Google+</p>
    <input type="text" placeholder="Link URL">
</div>

<h3>Contact Us</h3>
<div>
    <p>Address</p>
    <input type="text" placeholder="Põllu 18, Tartu, Eesti">
    <p>Phone</p>
    <input type="text" placeholder="+372 56778899">
    <p>E-mail</p>
    <input type="text" placeholder="rajur.hint@khk.ee">
</div>
<div class="menu">
        <a href="#" class="button">Publish</a>
        <a href="#" class="button">View the site</a>
        <a href="#" class="button">Log out</a>
    </div>
</form>
</body>
</html>