* {
    font-family:sans-serif;
}
body{
    padding-left:40px;
}
.menu {
    position:absolute;
    top:5px;
    right:5px;
}
#solutions {
    border:1px solid black;
    padding:5px;
    margin-right:70%;
}

.services {
    padding: 20px;
}
.serv{
    border:1px solid black;
    padding:20px;
    margin-top:20px;
    display:inline-block;
}
#portfolio {
    padding:50px;
}
.reviews {
    display:inline-block;
    padding: 20px 2px;
    margin-right:240px;
}
.team {
    padding:20px;
}
.team_1 {
    border:1px solid black;
    padding:20px;
    display:inline-block;
}
input[type=text] {
    width:250px;
}
input[type=file]{
   display:none
}
.upload {
    font-size: 16px;
    border:2px solid black;
    border-radius:6px;
    background-color:yellow;
    display:inline-block;
    padding:10px 5px;
    margin:0 auto;
}
#test {
    background-color:black;
    text-align:center;
    padding:5px;
}
textarea {
    width:300px;
    height:150px;
}
a{
    text-decoration:none;
}
img {
    vertical-align:bottom;
}
.button {
    background-color: #6296af;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}